In [265]:
import pandas as pd
from pandasql import sqldf

**Obróbka danych o pitych alkoholach**
Wczytanie danych:

In [266]:
Drinks = pd.read_csv("../Original Data/drinks.csv")
Drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
...,...,...,...,...,...
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

**Obróbka danych o kontynentach**
Wczytanie danych o kontynencie danego kraju:

In [267]:
Continents = pd.read_csv("../Original Data/countries-continents.csv")
Continents

         Continent    Country
0           Africa    Algeria
1           Africa     Angola
2           Africa      Benin
3           Africa   Botswana
4           Africa    Burkina
..             ...        ...
189  South America   Paraguay
190  South America       Peru
191  South America   Suriname
192  South America    Uruguay
193  South America  Venezuela

[194 rows x 2 columns]

Wczytanie brakujących danych:

In [268]:
Continents_additional_data = pd.read_csv("../Original Data/countries-continents_additional_data.csv")
Continents_additional_data

        Continent                       Country
0   North America             Antigua & Barbuda
1          Europe            Bosnia-Herzegovina
2          Africa                  Burkina Faso
3          Africa                 Cote d'Ivoire
4          Africa                    Cabo Verde
5         Oceania                  Cook Islands
6          Europe                Czech Republic
7            Asia                   North Korea
8          Africa                      DR Congo
9            Asia                       Myanmar
10        Oceania                          Niue
11           Asia                   South Korea
12  North America             St. Kitts & Nevis
13  North America                     St. Lucia
14  North America  St. Vincent & the Grenadines
15         Africa           Sao Tome & Principe
16           Asia                   Timor-Leste
17  South America             Trinidad & Tobago
18  North America                           USA

Połączenie powyższych tabel:

In [269]:
Continents_final = pd.concat([Continents, Continents_additional_data], ignore_index=True)
Continents_final

         Continent                       Country
0           Africa                       Algeria
1           Africa                        Angola
2           Africa                         Benin
3           Africa                      Botswana
4           Africa                       Burkina
..             ...                           ...
208  North America  St. Vincent & the Grenadines
209         Africa           Sao Tome & Principe
210           Asia                   Timor-Leste
211  South America             Trinidad & Tobago
212  North America                           USA

[213 rows x 2 columns]

**Integracja danych z obydwu tabeli**

In [270]:
Final_data = sqldf("SELECT D.country, C.Continent AS continent, D.beer_servings, D.spirit_servings, D.wine_servings, D.total_litres_of_pure_alcohol"
                   " FROM Drinks AS D LEFT JOIN Continents_final AS C ON C.Country = D.country")
Final_data

,country,continent,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,Asia,0,0,0,0.0
1,Albania,Europe,89,132,54,4.9
2,Algeria,Africa,25,0,14,0.7
3,Andorra,Europe,245,138,312,12.4
4,Angola,Africa,217,57,45,5.9
...,...,...,...,...,...,...
188,Venezuela,South America,333,100,3,7.7
189,Vietnam,Asia,111,2,1,2.0
190,Yemen,Asia,6,0,0,0.1
191,Zambia,Africa,32,19,4,2.5
192,Zimbabwe,Africa,64,18,4,4.7

Zapis tabeli do pliku:

In [271]:
Final_data.to_csv("../Analysis Data/drinks_final.csv", index=False)